@import './_vars.scss';
@import './fonts/index';

body {
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  overflow: auto;

  &__wrapper {
    flex-grow: 1;
    padding: 0 50px;
  }
}

.page {
  padding: 64px 24px 0 24px;
  box-sizing: border-box;
  max-width: 375px;
  max-height: 812px;
  margin: 0 auto;
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  color: $gray;
  white-space: pre-wrap;
}
