.road-map {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
}

.road-map__title {
  margin-bottom: 100px;
}

.road-map__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 690px;
  margin: 0 auto;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    right: 22px;
    top: -300px;
    width: 8px;
    height: calc(100% + 280px);
    background-color: #7200e0;
  }
}
