@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
    url('../../static/fonts/Avenir/Avenir-Medium.woff') format('woff'),
    url('../../static/fonts/Avenir/Avenir-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/Avenir/Avenir-Heavy.woff2') format('woff2'),
    url('../../static/fonts/Avenir/Avenir-Heavy.woff') format('woff'),
    url('../../static/fonts/Avenir/Avenir-Heavy.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/Avenir/Avenir-Black.woff2') format('woff2'),
    url('../../static/fonts/Avenir/Avenir-Black.woff') format('woff'),
    url('../../static/fonts/Avenir/Avenir-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
